.main__div-pic {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 10px;
}

.div-pic__photo{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
  animation-delay: 0.5s;
  
}
  @keyframes moveup{
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }

.SpecialProducts {
    width: 100%;
    height: 100%;
    margin-top: 10px;
   
    background-color: #e4eced;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes appear{
    from{
        opacity: 0;
        transform: translateX(-100px);
       
       
    }to{
        opacity: 1;
        transform: translateX(0px);
     
    }
}
.SpecialProducts-h1{
    font-family: "Leckerli One", cursive;
    font-size: 60px;
    font-style: normal;
    text-align: center;
}
.SpecialProducts-h3{
    text-align: center;
    cursor: pointer;
}
.SpecialProducts-h3:hover{
    text-decoration: underline;
}
  
.contact-form {
    width: 100%;
   
}

.scroll-container::-webkit-scrollbar {
    display: none; 
  }
.scroll-container {
    display: flex;
    overflow-x: auto;

    gap: 20px;
    padding: 20px;
    scroll-behavior: smooth;
    scrollbar-width: none; 
  }
  
  
  .ProductCard {
    flex: 0 0 auto; 
    width: 300px; 
  }
  
.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding: 20px;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    
}

.contact-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* position: 0px !important;
    margin-top: 0 !important; */
   
    
   
}

.contact-h1 {
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
    
}

.contact-left {
  margin-top: 100px;
  text-align: center;
}

.contact-form-container {
   
    padding: 20px;
}

.input-pair {
    display: flex;
    justify-content: space-between;
  
}

.input-container {
   
    padding: 5px;
    
}

.contact-input,
.contact-textarea {
    
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    
}

.contact-submit {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    background-color: #d6cbc5;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.input-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
@media (max-width: 768px) {
    .contact-container{
        margin-top: 200px;
        width: 100%;
    }
    .contact-info {
        flex-direction: column;
        justify-content: center;
       text-align: center;
    }
    .contact-h1{
       
        margin-top: 200px;
        text-align: center;
    }
    .input-label{
        margin-right: 40px;
    }

    .input-pair {
        flex-direction: column;
        margin-right: 10px;
    }

    .contact-left,
    .contact-form-container {
        width: 100%;
    }
}
